<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand title" [routerLink]="['/']">GLAMOUR.CITY</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
      <li><a>About</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/accessories']">Accessories</a></li> 
      <li><a>Contact</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
    <li class="dropdown" scDropdown>
        <a class="dropdown-toggle" style="cursor:pointer">User <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Login</a></li>
          <li><a [routerLink]="['/register']">Sign Up</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
     </ul>
  </div>
</nav> 